---
import "../styles/global.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicon-16x16.png"
        />
        <link rel="manifest" href="/site.webmanifest" />
        <title>XIRC - A New Protocol</title>
    </head>
    <body>
        <div class="container">
            <img src="/xirc-logo.svg" alt="XIRC Logo" class="logo" />
            <h1>Welcome to XIRC</h1>
            <p>A new protocol to replace IRC.</p>
            <nav>
                <a href="/whitepaper">Read the Whitepaper</a> |
                <a href="/clients">Supported Clients</a> |
                <a
                    href="https://github.com/KaleidaHQ/xirc-server/"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    Server Binary
                </a>
            </nav>
        </div>
    </body>
</html>
