---
import "../styles/global.css";
import { marked } from "marked";

// Import the raw Markdown file content
const markdownContent = await import("../assets/XIRC.md?raw");
marked.setOptions({
    breaks: true,
    gfm: true,
    pedantic: false,
});
// Parse the Markdown to HTML
const htmlContent = marked(markdownContent.default.trim());
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicon-16x16.png"
        />
        <link rel="manifest" href="/site.webmanifest" />
        <title>XIRC Whitepaper</title>
    </head>
    <body>
        <div class="container">
            <h1>XIRC Whitepaper</h1>
            <div set:html={htmlContent} />
        </div>
    </body>
</html>
